/****************************************************************************************************/
/*                                                                                                  */
/*  binovistructure.css                                                                             */
/*  Common HTML and CSS components for Eyecarrot and Binovi related web assets                      */
/*                                                                                                  */
/*  Last Updated: June 04 2018                                                                      */
/*                                                                                                  */
/****************************************************************************************************/

@media only screen and (min-width: 480px)
{
    .column-xs-10{
        float:left;
        width:10%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-xs-20{
        float:left;
        width:20%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-xs-25{
        float:left;
        width:25%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-xs-30{
        float:left;
        width:30%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-xs-33{
        float:left;
        width:33%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-xs-40{
        float:left;
        width:40%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-xs-50{
        float:left;
        width:50%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-xs-60{
        float:left;
        width:60%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-xs-67{
        float:left;
        width:67%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-xs-70{
        float:left;
        width:70%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-xs-75{
        float:left;
        width:75%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-xs-80{
        float:left;
        width:80%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-xs-90{
        float:left;
        width:90%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-xs-100{
        float:left;
        width:100%;
        padding-left:16px;
        padding-right:16px;
    }
    .offset-xs-00{
        margin-left:0;
    }
    .offset-xs-10{
        margin-left:10%;
    }
    .offset-xs-20{
        margin-left:20%;
    }
    .offset-xs-25{
        margin-left:25%;
    }
    .offset-xs-30{
        margin-left:30%;
    }
    .offset-xs-33{
        margin-left:33%;
    }
    .offset-xs-40{
        margin-left:40%;
    }
    .offset-xs-50{
        margin-left:50%;
    }
    .offset-xs-60{
        margin-left:60%;
    }
    .offset-xs-67{
        margin-left:67%;
    }
    .offset-xs-70{
        margin-left:70%;
    }
    .offset-xs-75{
        margin-left:75%;
    }
    .offset-xs-80{
        margin-left:80%;
    }
    .offset-xs-90{
        margin-left:90%;
    }
}

@media only screen and (min-width: 768px)
{
    .column-sm-10{
        float:left;
        width:10%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-sm-20{
        float:left;
        width:20%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-sm-25{
        float:left;
        width:25%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-sm-30{
        float:left;
        width:30%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-sm-33{
        float:left;
        width:33%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-sm-40{
        float:left;
        width:40%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-sm-50{
        float:left;
        width:50%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-sm-60{
        float:left;
        width:60%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-sm-67{
        float:left;
        width:67%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-sm-70{
        float:left;
        width:70%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-sm-75{
        float:left;
        width:75%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-sm-80{
        float:left;
        width:80%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-sm-90{
        float:left;
        width:90%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-sm-100{
        float:left;
        width:100%;
        padding-left:16px;
        padding-right:16px;
    }
    .offset-sm-00{
        margin-left:0;
    }
    .offset-sm-10{
        margin-left:10%;
    }
    .offset-sm-20{
        margin-left:20%;
    }
    .offset-sm-25{
        margin-left:25%;
    }
    .offset-sm-30{
        margin-left:30%;
    }
    .offset-sm-33{
        margin-left:33%;
    }
    .offset-sm-40{
        margin-left:40%;
    }
    .offset-sm-50{
        margin-left:50%;
    }
    .offset-sm-60{
        margin-left:60%;
    }
    .offset-sm-67{
        margin-left:67%;
    }
    .offset-sm-70{
        margin-left:70%;
    }
    .offset-sm-75{
        margin-left:75%;
    }
    .offset-sm-80{
        margin-left:80%;
    }
    .offset-sm-90{
        margin-left:90%;
    }
}

@media only screen and (min-width: 1024px)
{
    .column-md-10{
        float:left;
        width:10%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-md-20{
        float:left;
        width:20%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-md-25{
        float:left;
        width:25%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-md-30{
        float:left;
        width:30%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-md-33{
        float:left;
        width:33%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-md-40{
        float:left;
        width:40%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-md-50{
        float:left;
        width:50%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-md-60{
        float:left;
        width:60%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-md-67{
        float:left;
        width:67%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-md-70{
        float:left;
        width:70%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-md-75{
        float:left;
        width:75%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-md-80{
        float:left;
        width:80%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-md-90{
        float:left;
        width:90%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-md-100{
        float:left;
        width:100%;
        padding-left:16px;
        padding-right:16px;
    }
    .offset-md-00{
        margin-left:0;
    }
    .offset-md-10{
        margin-left:10%;
    }
    .offset-md-20{
        margin-left:20%;
    }
    .offset-md-25{
        margin-left:25%;
    }
    .offset-md-30{
        margin-left:30%;
    }
    .offset-md-33{
        margin-left:33%;
    }
    .offset-md-40{
        margin-left:40%;
    }
    .offset-md-50{
        margin-left:50%;
    }
    .offset-md-60{
        margin-left:60%;
    }
    .offset-md-67{
        margin-left:67%;
    }
    .offset-md-70{
        margin-left:70%;
    }
    .offset-md-75{
        margin-left:75%;
    }
    .offset-md-80{
        margin-left:80%;
    }
    .offset-md-90{
        margin-left:90%;
    }
}

@media only screen and (min-width: 1200px)
{
    .column-lg-10{
        float:left;
        width:10%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-lg-20{
        float:left;
        width:20%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-lg-25{
        float:left;
        width:25%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-lg-30{
        float:left;
        width:30%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-lg-33{
        float:left;
        width:33%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-lg-40{
        float:left;
        width:40%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-lg-50{
        float:left;
        width:50%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-lg-60{
        float:left;
        width:60%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-lg-67{
        float:left;
        width:67%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-lg-70{
        float:left;
        width:70%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-lg-75{
        float:left;
        width:75%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-lg-80{
        float:left;
        width:80%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-lg-90{
        float:left;
        width:90%;
        padding-left:16px;
        padding-right:16px;
    }
    .column-lg-100{
        float:left;
        width:100%;
        padding-left:16px;
        padding-right:16px;
    }
    .offset-lg-00{
        margin-left:0;
    }
    .offset-lg-10{
        margin-left:10%;
    }
    .offset-lg-20{
        margin-left:20%;
    }
    .offset-lg-25{
        margin-left:25%;
    }
    .offset-lg-30{
        margin-left:30%;
    }
    .offset-lg-33{
        margin-left:33%;
    }
    .offset-lg-40{
        margin-left:40%;
    }
    .offset-lg-50{
        margin-left:50%;
    }
    .offset-lg-60{
        margin-left:60%;
    }
    .offset-lg-67{
        margin-left:67%;
    }
    .offset-lg-70{
        margin-left:70%;
    }
    .offset-lg-75{
        margin-left:75%;
    }
    .offset-lg-80{
        margin-left:80%;
    }
    .offset-lg-90{
        margin-left:90%;
    }
}



